@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");
body {
  margin: 0;
  background-color: #4682B4;
}

.profile {
  margin-top: 4vw;
}
.profile .profile-title {
  color: #0F2D52;
  border: 3px solid #0F2D52;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 1vw;
  padding: 0.7vw 1vw;
  width: 7vw;
  text-align: center;
  font-size: 2vw;
}
.profile .profile-box {
  background-color: #fff;
  width: 73.5vw;
  height: 35vw;
  border-radius: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile .profile-left {
  width: 15vw;
  height: 30vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-left: 1vw;
}
.profile .profile-img img {
  width: 13vw;
  height: 18vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile .profile-span {
  font-size: 1vw;
  display: flex;
  flex-flow: column;
  margin-top: 1vw;
}
.profile .profile-p2 {
  font-size: 0.8vw;
  display: flex;
  flex-flow: column;
  margin-top: 1vw;
}
.profile .profile-middle {
  display: flex;
  flex-flow: column;
  height: 25vw;
  justify-content: space-between;
  padding-right: 1vw;
}
.profile .profile-text {
  display: flex;
  flex-flow: column;
  font-size: 1vw;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.profile .profile-text2 {
  font-size: 1vw;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.profile .profile-right {
  width: 25vw;
  height: 27 vw;
  background-color: tan;
  margin-right: 1vw;
}
.profile .profile-right section {
  width: 25vw;
  height: 27vw;
}
.profile .profile-right .swiper-container {
  width: 100%;
  height: 100%;
}
.profile .profile-right .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  font-size: 1vw;
  background: #fff;
  overflow: hidden;
}
.profile .profile-right .slide-image {
  position: absolute;
  top: -200px;
  left: -200px;
  width: calc(100% + 400px);
  height: calc(100% + 400px);
  background-position: 50% 50%;
  background-size: cover;
}
.profile .profile-right .slide-title {
  font-size: 1vw;
  line-height: 1;
  max-width: 50%;
  white-space: normal;
  word-break: break-word;
  color: #FFF;
  z-index: 100;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}
@media (min-width: 45em) {
  .profile .profile-right .slide-title {
    font-size: 4vw;
    max-width: none;
  }
}
.profile .profile-right .slide-title span {
  white-space: pre;
  display: inline-block;
  opacity: 0;
}
.profile .profile-right .slideshow {
  position: relative;
}
.profile .profile-right .slideshow-pagination {
  position: absolute;
  bottom: 5rem;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: 0.3s opacity;
  z-index: 10;
}
.profile .profile-right .slideshow-pagination-item {
  display: flex;
  align-items: center;
}
.profile .profile-right .slideshow-pagination-item .pagination-number {
  opacity: 0.5;
}
.profile .profile-right .slideshow-pagination-item:hover, .profile .profile-right .slideshow-pagination-item:focus {
  cursor: pointer;
}
.profile .profile-right .slideshow-pagination-item:last-of-type .pagination-separator {
  width: 0;
}
.profile .profile-right .slideshow-pagination-item.active .pagination-number {
  opacity: 1;
}
.profile .profile-right .slideshow-pagination-item.active .pagination-separator {
  width: 10vw;
}
.profile .profile-right .slideshow-navigation-button {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 3vw;
  z-index: 1000;
  transition: all 0.3s ease;
  color: #FFF;
}
.profile .profile-right .slideshow-navigation-button:hover, .profile .profile-right .slideshow-navigation-button:focus {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
}
.profile .profile-right .slideshow-navigation-button.prev {
  left: 0;
}
.profile .profile-right .slideshow-navigation-button.next {
  right: 0;
}
.profile .profile-right .pagination-number {
  font-size: 1.5vw;
  color: #FFF;
  font-family: "Oswald", sans-serif;
  padding: 0 0.5rem;
}
.profile .profile-right .pagination-separator {
  display: none;
  position: relative;
  width: 40px;
  height: 2px;
  background: rgba(255, 255, 255, 0.25);
  transition: all 0.3s ease;
}
@media (min-width: 45em) {
  .profile .profile-right .pagination-separator {
    display: block;
  }
}
.profile .profile-right .pagination-separator-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  transform-origin: 0 0;
}
.profile .caption {
  background: rgba(70, 130, 180, 0.7);
  padding: 1vw 1.5vw;
  border-radius: 3vw;
  font-weight: 500;
  color: #fff;
  font-family: "Pretendard", sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  font-size: 0.8vw;
}

.skill {
  height: 25vw;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 70vw;
}
.skill .flip-card {
  width: 10vw;
  height: 10vw;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
.skill .flip-card:hover {
  transform: rotateY(180deg);
}
.skill .flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  font-family: sans-serif;
  border: 0.3vw solid #fff;
  color: white;
}
.skill .front {
  -o-object-fit: cover;
     object-fit: cover;
  width: 18vw;
  height: 14.8vw;
  background-color: rgba(255, 255, 255, 0.6);
}
.skill .back {
  background-color: rgba(70, 130, 180, 0.7);
  transform: rotateY(180deg);
  width: 16.1vw;
  height: 12.8vw;
  margin-left: -8.6vw;
  margin-top: 0vw;
  border: 0.3vw solid #fff;
  padding: 1vw;
  font-size: 1vw;
}
.skill .skill-flex {
  display: flex;
  justify-content: space-between;
  width: 65vw;
}
.skill .skill-flex img {
  width: 10vw;
  height: 10vw;
  border-right: none;
}
.skill .skill-flex2 {
  display: flex;
  justify-content: space-between;
  width: 65vw;
}
.skill .skill-flex2 img {
  width: 10vw;
  height: 10vw;
  border-right: none;
}

.skill-title {
  color: #0F2D52;
  border: 3px solid #0F2D52;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 1vw;
  padding: 0.7vw 1vw;
  width: 7vw;
  text-align: center;
  font-size: 2vw;
}

.project-text {
  color: #0F2D52;
  border: 3px solid #0F2D52;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 1vw;
  padding: 0.7vw 1vw;
  width: 7vw;
  text-align: center;
  font-size: 2vw;
  margin-top: 20vw;
}

.project {
  margin-top: 15vw;
}
.project .project-wrap {
  width: 90vw;
  height: 35vw;
  background-color: #ededed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.project .scroll-box {
  width: 50vw;
  height: 30vw;
  background-color: #fff;
  overflow: hidden;
  border-radius: 2vw;
}
.project .scroll-box img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}
.project .project-banner {
  width: 20vw;
  height: 35vw;
  background-color: #fff;
}
.project .project-line-box {
  width: 20vw;
  height: 7vw;
  margin-left: 3.5vw;
}
.project .project-line-box .project-line {
  width: 0.5vw;
  height: 7vw;
  background-color: #87CEEB;
}
.project .project-middle {
  display: flex;
  flex-flow: column;
  height: 25vw;
  justify-content: space-around;
  @import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
  @import url("https://fonts.googleapis.com/css?family=Roboto:100");
}
.project .project-middle .project-no {
  font-size: 4vw;
  font-weight: bold;
}
.project .project-middle .project-title {
  font-size: 1.5vw;
}
.project .project-middle .project-title2 {
  font-size: 1.5vw;
  font-weight: bold;
}
.project .project-middle .project-title-flex {
  display: flex;
  flex-flow: column;
}
.project .project-middle .project-color-flex {
  display: flex;
  flex-flow: column;
}
.project .project-middle .project-color {
  font-size: 1.5vw;
}
.project .project-middle .project-color-round {
  display: flex;
}
.project .project-middle .project-color-round div {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 100%;
  border: 1px #333 solid;
  margin-right: 0.5vw;
  margin-top: 0.5vw;
}
.project .project-middle .project-p {
  font-size: 1vw;
}
.project .project-middle .project-p p {
  margin-top: 1vw;
}
.project .project-middle * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.project .project-middle .button-container-1 {
  position: relative;
  width: 5vw;
  height: 2.5vw;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1vw;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 0.5vw;
  border: 1px #87CEEB solid;
}
.project .project-middle .button-container-1 button {
  width: 5vw;
  height: 2.5vw;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1vw;
  letter-spacing: 1px;
  font-weight: bold;
  background: #87CEEB;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  animation: ani2 0.7s steps(22) forwards;
}
.project .project-middle .button-container-1 button:hover {
  animation: ani 0.7s steps(22) forwards;
}
.project .project-middle .mas {
  position: absolute;
  color: #000;
  text-align: center;
  width: 5vw;
  height: 2.5vw;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 1vw;
  margin-top: 0.6vw;
  overflow: hidden;
  font-weight: bold;
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

.project-line1 {
  width: 0.5vw;
  height: 7vw;
  background-color: #6495ED;
}

.button-container-2 {
  position: relative;
  width: 5vw;
  height: 2.5vw;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1vw;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 0.5vw;
  border: 1px #6495ED solid;
}
.button-container-2 button {
  width: 5vw;
  height: 2.5vw;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1vw;
  letter-spacing: 1px;
  font-weight: bold;
  background: #6495ED;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  animation: ani2 0.7s steps(22) forwards;
}
.button-container-2 button:hover {
  animation: ani 0.7s steps(22) forwards;
}

.mas {
  position: absolute;
  color: #000;
  text-align: center;
  width: 5vw;
  height: 2.5vw;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 1vw;
  margin-top: 0.6vw;
  overflow: hidden;
  font-weight: bold;
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
.project-button-flex {
  width: 11vw;
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
}
.project-button-flex a {
  color: #fff;
}

.project-wrap2 {
  width: 90vw;
  height: 35vw;
  background-color: #ededed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  flex-flow: row-reverse;
}

.project-line3 {
  width: 0.5vw;
  height: 7vw;
  background-color: #B81C22;
}

.button-container-3 {
  position: relative;
  width: 5vw;
  height: 2.5vw;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1vw;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 0.5vw;
  border: 1px #B81C22 solid;
}
.button-container-3 button {
  width: 5vw;
  height: 2.5vw;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1vw;
  letter-spacing: 1px;
  font-weight: bold;
  background: #B81C22;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  animation: ani2 0.7s steps(22) forwards;
}
.button-container-3 button:hover {
  animation: ani 0.7s steps(22) forwards;
}

.mas {
  position: absolute;
  color: #000;
  text-align: center;
  width: 5vw;
  height: 2.5vw;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 1vw;
  margin-top: 0.6vw;
  overflow: hidden;
  font-weight: bold;
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
.project-text2 {
  color: #0F2D52;
  border: 3px solid #0F2D52;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 1vw;
  padding: 0.7vw 1vw;
  width: 7vw;
  text-align: center;
  font-size: 2vw;
  width: 15vw;
}

.project-line4 {
  width: 0.5vw;
  height: 7vw;
  background-color: #FC8621;
}

.button-container-4 {
  position: relative;
  width: 5vw;
  height: 2.5vw;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1vw;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 0.5vw;
  border: 1px #FC8621 solid;
}
.button-container-4 button {
  width: 5vw;
  height: 2.5vw;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1vw;
  letter-spacing: 1px;
  font-weight: bold;
  background: #FC8621;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  animation: ani2 0.7s steps(22) forwards;
}
.button-container-4 button:hover {
  animation: ani 0.7s steps(22) forwards;
}

.mas {
  position: absolute;
  color: #000;
  text-align: center;
  width: 5vw;
  height: 2.5vw;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 1vw;
  margin-top: 0.6vw;
  overflow: hidden;
  font-weight: bold;
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
.project-text3 {
  color: #0F2D52;
  border: 3px solid #0F2D52;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 1vw;
  padding: 0.7vw 1vw;
  width: 7vw;
  text-align: center;
  font-size: 2vw;
  width: 20vw;
}

.project-line5 {
  width: 0.5vw;
  height: 7vw;
  background-color: #D7BDE2;
}

.button-container-5 {
  position: relative;
  width: 5vw;
  height: 2.5vw;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1vw;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 0.5vw;
  border: 1px #D7BDE2 solid;
}
.button-container-5 button {
  width: 5vw;
  height: 2.5vw;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1vw;
  letter-spacing: 1px;
  font-weight: bold;
  background: #D7BDE2;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  animation: ani2 0.7s steps(22) forwards;
}
.button-container-5 button:hover {
  animation: ani 0.7s steps(22) forwards;
}

.mas {
  position: absolute;
  color: #000;
  text-align: center;
  width: 5vw;
  height: 2.5vw;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 1vw;
  margin-top: 0.6vw;
  overflow: hidden;
  font-weight: bold;
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
.project-text4 {
  color: #0F2D52;
  border: 3px solid #0F2D52;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 1vw;
  padding: 0.7vw 1vw;
  width: 7vw;
  text-align: center;
  font-size: 2vw;
  width: 17vw;
}

.project-text5 {
  color: #0F2D52;
  border: 3px solid #0F2D52;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 1vw;
  padding: 0.7vw 1vw;
  width: 7vw;
  text-align: center;
  font-size: 2vw;
  width: 10vw;
}

html,
body {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.project {
  scroll-snap-align: start;
  scroll-snap-align: center;
}

.finish-wrap {
  width: 75vw;
  height: 35vw;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 5vw;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.finish-flex {
  display: flex;
  width: 75vw;
  justify-content: space-evenly;
}

.finish-box {
  width: 18vw;
  height: 10vw;
  background-color: #6495ED;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  border-radius: 1vw;
}
.finish-box img {
  width: 5vw;
  height: 5vw;
}
.finish-box span {
  color: #fff;
  font-size: 2.5vw;
  border-bottom: 0.2vw solid #fff;
}

.finish-h2 {
  font-size: 4.5vw;
  color: #6495ED;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.finish-footer {
  width: 75vw;
  height: 5vw;
  background-color: #d9d9d9;
}

.finish-box:hover {
  transform: rotateY(180deg);
}

.finish-box-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  font-family: sans-serif;
  border-radius: 1vw;
  color: white;
}

.re {
  -o-object-fit: cover;
     object-fit: cover;
  width: 18vw;
  height: 10vw;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.de {
  background-color: #0F2D52;
  transform: rotateY(180deg);
  width: 18vw;
  height: 10vw;
}